
	<body id="community-body">
		<div id="community-background">
			<div id="edit-banner">
				<p>Edit your profile here!</p>
			</div>
			<div>
				<form name="pictures" form="pictureform">
					<input type="checkbox" value="pic1"><img src="<%= url("Images/pic1.png")%>" width="150" height="150"></input>
					<input type="checkbox" value="pic2"><img src="<%= url("Images/pic2.png")%>" width="150" height="150"></input>
					<input type="checkbox" value="pic3"><img src="<%= url("Images/pic3.png")%>" width="150" height="150"></input>
					<input type="checkbox" value="pic4"><img src="<%= url("Images/pic4.png")%>" width="150" height="150"></input>
					<input type="checkbox" value="pic5"><img src="<%= url("Images/pic5.png")%>" width="150" height="150"></input>
					<input type="checkbox" value="pic6"><img src="<%= url("Images/pic6.png")%>" width="150" height="150"></input>
				</form>

				
			</div>
		</div>

	</body>